<h1>Search Commute Time</h1>
<p>
  Enter your work address and commute time below.
</p>
<%= form_tag search_incidents_path, method: :get do %>
  <div>
    <%= label_tag "search[address]", "Enter your work address:" %>
    <%= text_area_tag "search[address]" %>
  </div>
  <div>
    <%= label_tag "search[minutes]", "Select an acceptable commute time:" %>
    <%= collection_select :search, :minutes, @minute_options, :to_s, :to_s %>
  </div>
  <%= submit_tag "Search" %>
<% end %>