<h1>Search By Incidents</h1>
<p>
  The following areas are within your desired commuting time.
  Select up to five areas and criteria to see your matches.
</p>
<%= form_tag result_incidents_path, method: :get do %>
  <%= label_tag "search[neighborhoods]", "Select up to 5 neighborhoods:" %>
  <% @neighborhoods.each do |neighborhood| %>
    <div>
      <%= label_tag "search[neighborhoods][]", neighborhood.name %>
      <%= check_box_tag "search[neighborhoods][]", neighborhood.id %>
    </div>
  <% end %>
  <br>
  <br>
  <%= label_tag "search[criteria]", "Select up to 5 criteria:" %>
  <% @criteria_options.each do |criteria| %>
    <div>
      <%= label_tag "search[criteria][]", criteria %>
      <%= check_box_tag "search[criteria][]", criteria %>
    </div>
  <% end %>
  <%= submit_tag "Search" %>
<% end %>

<%= render partial: 'map', locals: { neighborhoods: @neighborhoods } %>