<div style="max-width: 600px;margin:0 auto;">
  <div class="ui centered grid">
    <div class="column">
      <div class="ui attached message">
        <div class="header">
          Edit Profile
        </div>
      </div>
      <%= form_for @user, url: edit_profile_path, html: { class: "ui form attached fluid segment" } do |f| %>
        <div class="two fields">
          <div class="field">
            <%= f.label :first_name, "First Name" %>
            <%= f.text_field :first_name %>
          </div>
          <div class="field">
            <%= f.label :last_name, "Last Name" %>
            <%= f.text_field :last_name %>
          </div>
        </div>
        <div class="field">
          <%= f.label :work_address %>
          <%= f.text_area :work_address, rows: "2" %>
        </div>
        <div class="field">
          <%= f.label :commute_time, "Commute Time:" %>
          <%= f.collection_select :commute_time, @minute_options, :to_s, :to_s, {}, { class: "ui selection dropdown" } %>
        </div>
        <%= f.submit 'Update Profile', class: "ui submit button" %>
      <% end %>

      <% if flash[:errors] %>
        <%= render partial: 'shared/form_errors', locals: {
          error_header: 'Error updating profile',
          error_messages: flash[:errors]
        } %>
      <% end %>
    </div>
  </div>
</div>