<h1 class="ui"><%= @user.full_name %>'s Profile</h1>
<h3>Username: </h3>
<p><%= @user.username %></p>
<h3 class="ui">Work Address: </h3>
<p>
  <%= @user.work_address %>
</p>
<%= link_to 'Edit Profile', edit_profile_path, class: "ui button" %>
<h3>Saved Apartments:</h3>
<ul>
  <% @apartments.each do |a| %>
  <li><%= link_to "#{a.street}, #{a.city}, #{a.state}, #{a.zipcode}", a %></li>
  <% end %>
</ul>
