<div id="top-nav-bar" class="ui inverted vertical center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <%= link_to root_path, class: "header item" do %>
        NYC<i class="small red heart icon" style="margin: 0;"></i>311 Apartment Finder
      <% end %>
      <%= link_to apartments_path, class: "item" do %>
        <i class="building icon"></i>
        Apartments
      <% end %>
      <%= link_to neighborhoods_path, class: "item" do %>
        <i class="map icon"></i>
        Neighborhoods
      <% end %>
      <div class="ui simple dropdown right item">
        <i class="user circle icon large"></i>
        <i class="dropdown icon"></i>
        <div class="left menu">
          <%= link_to 'My Profile', edit_profile_path, class: "item" %>
          <%= link_to user_apartments_path, class: "item" do %>
            Saved Apartments
            <div class="ui teal label" style="margin-left: 3px;"><%= @user.apartments.count %></div>
          <% end %>
          <%= link_to 'Log Out', logout_path, method: :delete, class: "item" %>
        </div>
      </div>
    </div>
  </div>
</div>