<div class="ui grid">
  <div class="ten wide column">
    <h2 class="ui header">
      Neighborhood Info
    </h2>
    <p>
      We've found <%= @neighborhoods.count %> neighborhoods within <%= @user.commute_time %> minutes 
      of your work address, <strong><%= @user.work_address %></strong>, via public transit.
    </p>
    <p>
      <%= link_to 'Edit your commuting preferences', edit_profile_path %> if you'd like to see other neighborhoods.
    </p>
    <div class="ui info message">
      <div class="header">
        Select Neighborhoods and Criteria
      </div>
      <p>
        What's important to you in a neighborhood? Select from the criteria below to see statistics
        from NYC 311 data about your selections.
      </p>
    </div>
    <%= form_tag result_neighborhoods_path, method: :get, class: "ui form fluid" do %>
      <div class="field">
        <%= label_tag "search[neighborhoods]", "Select neighborhoods:" %>
        <%= collection_select :search, :neighborhoods, @neighborhoods, :id, :name_with_borough, {}, { class: "ui fluid search dropdown", multiple: "" } %>
      </div>
      <div class="field">
        <%= label_tag "search[criteria]", "Select criteria:" %>
        <%= collection_select :search, :criteria, @criteria_options, :to_s, :to_s, {}, { class: "ui fluid search dropdown", multiple: "" } %>
      </div>
      <%= submit_tag "Search", class: "ui submit button" %>
    <% end %>
    <% if flash[:errors] %>
      <%= render partial: 'shared/form_errors', locals: {
        error_header: 'Search error',
        error_messages: flash[:errors]
      } %>
    <% end %>
  </div>
  <div class="six wide column">
    <%= render partial: 'map', locals: { neighborhoods: @neighborhoods } %>
  </div>
</div>