<h2 class="ui horizontal divider header">
  <i class="map icon"></i>
  Results
</h2>
<p>
  Here are your neighborhoods and the 311 incident information you 
  requested. Check the match percentage to see which neighborhoods most closely match your criteria.
</p>
<p>Displaying incident datas from <%= Incident.first_incident_date %> to <%= Incident.last_incident_date %>.</p>
<div class="ui divider"></div>
<div class="ui divided items">
  <% @neighborhoods.each do |neighborhood| %>
    <% match_percentage = @criteria_hash[neighborhood.id.to_s][:match_percentage] %>
    <div class="item">
      <div class="middle aligned image">
        <img src="<%= neighborhood.static_map_url %>">
      </div>
      <div class="content">
        <a class="header"><%= neighborhood.name %></a>
        <div class="meta">
          <div class="ui <%= match_percentage < 50 ? "red" : "green" %> label">
            <%= p "#{match_percentage} % overall match" %>
          </div>
          <div class="ui label">
            <i class="map outline icon"></i>
            <%= neighborhood.borough %>
          </div>
          <div class="ui label">
            <i class="clock outline icon"></i>
            <%= "#{neighborhood.commute_time(@user.neighborhood_id)} min. commute" %>
          </div>
        </div>
        <div class="description">
          <table class="ui compact very basic celled table">
            <thead>
              <tr>
                <th>Type</th>
                <th>Count</th>
                <th>Percent Match</th>
              </tr>
            </thead>
            <tbody>
              <% @criteria_hash[neighborhood.id.to_s][:criteria].each do |criteria| %>
                <tr>
                  <td class="eight wide column"><%= criteria[:alias] %></td>
                  <td><%= criteria[:incidents] %></td>
                  <td><%= number_to_percentage(criteria[:incident_percentage], precision: 0)  %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="extra">
          <%= link_to neighborhood, { class: "ui primary small button" } do %>
            <i class="circle info icon"></i>
            View Neighborhood Details
          <% end %>
          <%= link_to apartments_path(neighborhood: neighborhood.name), { class: "ui primary small button" } do %>
            View Apartments
            <i class="right chevron icon"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<br>
<br>
<h2 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  311 Incident Comparison
</h2>
<p>
  Based on your criteria, here is a comparison of 311 incident reports for 
  each of your selected neighborhoods.
</p>
<div class="ui grid">
  <% @criteria.each do |criteria| %>
    <% scope_method = Incident.criteria_hash[criteria.to_sym]["method"] %>
    <% chart_data = Incident.joins(:neighborhood).select("neighborhoods.name").send(scope_method).where(neighborhood: @neighborhoods).group("neighborhoods.name").count %>
    <div class="eight wide column">
      <div class="ui center aligned segment">
        <h4><%= Incident.criteria_hash[criteria.to_sym]["show_alias"] %></h3>
        <%= column_chart chart_data  %>
      </div>
    </div>
  <% end %>
</div>
