<div style="margin-top:25px">
  <div class="ui three column divided grid container">
    <div class="row">
      <div class="column" id="a-box" style="padding:40px" >
      <%= link_to @apartments.first do%>
        <p>
          <%= @apartments.first.street %>
          <br>
          <%= @apartments.first.city %>
          <br>
          <%= @apartments.first.state %>
          <br>
          <%= @apartments.first.zipcode %>
          <br>
          <%= @apartments.first.city %>
          <br>
          <%= "#{@apartments[0].bedrooms} Bed : #{@apartments[0].bathrooms} Bath : #{@apartments[0].sqft} sqft" %>
        </p>
      <% end %>
      </div>

      <div class="column" id="a-box" style="padding:40px">
        <p>
          <%= @apartments[1].street %>
          <br>
          <%= @apartments[1].city %>
          <br>
          <%= @apartments[1].state %>
          <br>
          <%= @apartments[1].zipcode %>
          <br>
          <%= @apartments[1].city %>
          <br>
          <%= "#{@apartments[1].bedrooms} Bed : #{@apartments[1].bathrooms} Bath : #{@apartments[1].sqft} sqft" %>
        </p>
      </div>
      <div class="column" id="a-box" style="padding:40px">
        <p>
          <%= @apartments[2].street %>
          <br>
          <%= @apartments[2].city %>
          <br>
          <%= @apartments[2].state %>
          <br>
          <%= @apartments[2].zipcode %>
          <br>
          <%= @apartments[2].city %>
          <br>
          <%= "#{@apartments[2].bedrooms} Bed : #{@apartments[2].bathrooms} Bath : #{@apartments[2].sqft} sqft" %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column" id="a-box" style="padding:40px">
        <p>
          <%= @apartments[3].street %>
          <br>
          <%= @apartments[3].city %>
          <br>
          <%= @apartments[3].state %>
          <br>
          <%= @apartments[3].zipcode %>
          <br>
          <%= @apartments[3].city %>
          <br>
          <%= "#{@apartments[3].bedrooms} Bed : #{@apartments[3].bathrooms} Bath : #{@apartments[3].sqft} sqft" %>
        </p>
      </div>
      <div class="column" id="a-box" style="padding:40px">
        <p>
          <%= @apartments[4].street %>
          <br>
          <%= @apartments[4].city %>
          <br>
          <%= @apartments[4].state %>
          <br>
          <%= @apartments[4].zipcode %>
          <br>
          <%= @apartments[4].city %>
          <br>
          <%= "#{@apartments[4].bedrooms} Bed : #{@apartments[4].bathrooms} Bath : #{@apartments[4].sqft} sqft" %>
        </p>
      </div>
      <div class="column" id="a-box" style="padding:40px">
        <p>
          <%= @apartments[5].street %>
          <br>
          <%= @apartments[5].city %>
          <br>
          <%= @apartments[5].state %>
          <br>
          <%= @apartments[5].zipcode %>
          <br>
          <%= @apartments[5].city %>
          <br>
          <%= "#{@apartments[5].bedrooms} Bed : #{@apartments[5].bathrooms} Bath : #{@apartments[5].sqft} sqft" %>
        </p>
      </div>
    </div>
  </div>