<!-- <div style="max-width: 600px;margin:0 auto;"> -->
<script>
  function goBack() {
    window.history.back()
  }
</script>
<h1>Results For <%= @neighborhood ? @neighborhood : "All Neighborhoods" %></h1>
<%= form_tag apartments_path, method: :get do %>
  <div class="ui grid">
    <div class="twelve wide column">
      <%= collection_select nil, :neighborhood, @neighborhoods, :name, :name_with_borough, {}, { class: "ui fluid search dropdown" } %>
    </div>
    <div class="four wide column">
      <%= submit_tag "Filter Apartments", class: "ui primary button" %>
    </div>
  </div>
<% end %>
<% if @apartments.count == 0 %>
  <br>
  <p>No results found for this neighborhood. Use the filter to select a different neighborhood.</p>
<% else %>
  <div class="ui items" style="padding-top:20px">
    <div class="ui grid" >
      <% @apartments.each do |apartment| %>
        <div class="eight wide column">
          <div class="item" style="padding:15px;background-color:#f8f8f9;border-radius:.28571429rem">
            <%= link_to apartment do %>
            <div class="ui right aligned grid">
              <div class="left floated right aligned six wide column">
                <div class="ui small image" >
                  <img src="<%= apartment.images.sample %>" style="max-height:110px">
                </div>
              </div>
                <div class="right floated left aligned ten wide column">
                  <div class="content" style="margin:14px">
                    <div class="header"><%= apartment.street %></div>
                    <div class="meta">
                      <span class="price"><%= apartment.city %></span>
                    </div>
                    <div class="meta">
                      <% if apartment.value %>
                      <span class="price" style="color:#9ACD32"><%= apartment.parse_value(apartment.value) %></span>
                      <% else %>
                      <span class="price">Price On Request</span>
                      <% end  %>
                    </div>
                    <div class="meta">
                      <span class="price"><%= "#{apartment.bedrooms} Bed : #{apartment.bathrooms} Bath : #{apartment.sqft} sqft" %></span>
                    </div>
                  </div>
                </div>
              </div>
            <% end  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<button onclick="goBack()" class="ui primary button">Go back</button>