

<div style="margin-top:25px">
  <div class="ui four column divided grid container">
    <div class="row">

      <% @apartments.each do |apartment| %>

        <div class="column" id="a-box" style="padding:40px" >
          <%= link_to apartment do%>
          <p>
            <%= "#{apartment.street}," %>
            <br>
            <%= "#{apartment.city}," %>
            <br>
            <%= "#{apartment.state}," %>
            <br>
            <%= "#{apartment.zipcode}." %>
            <br>
            <%= "#{apartment.parse_value(apartment.value)}" %>
            <br>
            <%= "(#{apartment.bedrooms} Bed : #{apartment.bathrooms} Bath : #{apartment.sqft} sqft)" %>
          </p>
          <% end %>
        </div>

      <% end %>
